.filmContainer {
  position: relative;
}
.rightContainer {
  box-sizing: border-box;
  font-weight: 300;
  color: rgb(125,125,125);
  width: 70%;
  padding-left: 3em;
  height: auto;
  float: right;
}
.leftContainer {
  width:30%;
  display: inline-block;
}
.button {
  position: absolute;
  top: -3.7em;
  right: 0;
}
.pinkText {
  color: rgb(245,82,99);
}
.whiteText {
  font-weight: 400;
  color: #bdbdbd;
  margin: 1em 2em 2em 0;
  display: inline-block;
}
.smallText {
  font-size: 11px;
  margin-top: 2em;
  max-width: 50em;
}
