.infoRow {
  height: 3em;
  line-height: 3em;
  margin: 0 auto;
  padding: 0 5em;
  background-color: rgb(245,245,245);
  font-weight: bold;
}
.rightRow {
  float: right;
}
.buttons {
  cursor: pointer;
  margin: 0 0 0 1.5em;
}
.rowActive {
  cursor: pointer;
  margin: 0 0 0 1.5em;
  color: rgb(245,82,99);
}
